html {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  --text: rgb(0, 0, 0);
  --inverse: rgb(255,255,255);
  --border: rgb(41, 41, 41);
  --default: rgb(222,222,222);
  --blue: rgb(110,236,210);
  --green: rgb(182,215,168);
  --yellow: rgb(255,229,153);
  --red: rgb(234,153,153);
}

button {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 4px;
  padding-right: 4px;
  transition: background-color 0.5s ease-in;
  background-color: var(--default);
}

button:hover {
  background-color: var(--inverse);
}

strong {
  font-weight: 700;
  font-style: normal;
}

div.bingo-goal {
  width: 80%;
  left: 0;
  position: relative;
  border: 4px outset var(--border);
  padding: 6px;
  transition:
    background-color 1.5s ease-out,
    border 0.5s linear,
    padding 0.5s linear;
  background-color: var(--default);
  color: var(--text);
}
div.bingo-goal.easy, div.bingo-goal.community {
  background-color: var(--green);
}
div.bingo-goal.medium {
  background-color: var(--yellow);
}
div.bingo-goal.hard {
  background-color: var(--red);
}
div.bingo-goal.minion {
  background-color: var(--blue);
}
div.bingo-goal:hover {
  background-color: var(--inverse);
  border: 7px inset var(--border);
  padding: 3px;
}
