html {
  --text: #000;
  --default: #eee;
  --green: rgb(182,215,168);
  --yellow: rgb(255,229,153);
  --red: rgb(234,153,153);
}

div.bingo-goal {
  width: 80%;
  left: 0;
  position: relative;
  border: 1px solid black;
  transition: background-color 1.0s;
  background-color: var(--default);
  color: var(--text);
}
div.bingo-goal.easy {
  background-color: var(--green);
}
div.bingo-goal.easy:hover {
  background-color: var(--green);
}
div.bingo-goal.medium {
  background-color: var(--yellow);
}
div.bingo-goal.medium:hover {
  background-color: var(--yellow);
}
div.bingo-goal.hard {
  background-color: var(--red);
}
div.bingo-goal.hard:hover {
  background-color: var(--red);
}
